# SPDX-License-Identifier: GPL-3.0-or-later
#
# Copyright (c) 2023 Nelson Vieira
#
# @author Nelson Vieira <hello@nelsonvieira.me>
# @license GPL-3.0 <https://www.gnu.org/licenses/gpl-3.0.txt>
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
